/*********************************
 Autor: José Carmona Cervera
 Fecha creación: 30/11/2020
 Última modificación: 10/12/2020 
 Versión: 1.00
***********************************/

   #mostradorArriba,#mostradorAbajo{   
    color: #ffffff;
    font-weight: normal; 
    font-size: 30px;
    background-color: #617bbb;
    border: none;
    border-radius: 10px;       
  }
  
  #mostradorAbajo{
    direction: rtl; 
  }
 
  form {
    max-width: 450px;
    width: 100%;  
    text-align: center;
    padding-bottom: 10px;
    margin: auto;
    line-height: 100px;
    background: white;
    opacity: 0.85;
    background-color: #f9d477;
    border-radius: 10px;
  }

  input:disabled {
    background: rgb(146, 144, 144) !important;
    color: black !important;
  }

  input:not(.alargado)[type=button] {
    background-color:#ec7565;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 18px;
    font-size: 18px;
    min-width: 75px;
    min-height: 75px;
    text-decoration: none;
    margin:4px;
    cursor: pointer;
    
}
input[type=button]:hover{
  background-color: #333;
}

  .alargado{
    background-color:#ec7565;
    color: white;
    min-width: 75px;
    min-height: 75px;
    border: none;
    border-radius: 10px;
    width: 100%; 
    height: 100%
  }
#resultado{
    background-color: green; 
}